<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-silent-audio" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Silent Audio</name>
  <description>Play silent audio in loop to keep AVAudioSession active</description>
  <platform name="ios">
    <source-file src="src/ios/SilentAudioPlugin.swift" />
    <source-file src="src/ios/SilentAudioManager.swift" />
    <resource-file src="silent.mp3" />
    <framework src="AVFoundation.framework" />
  </platform>
  <js-module src="www/silentAudio.js" name="SilentAudio">
    <clobbers target="SilentAudio" />
  </js-module>
</plugin>